.image {
  width: 800px;
  height: 600px;
  margin-top: 50px;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  position: absolute;
  left: 32px;
  top: 300px;
  width: 50px;
  height: 40px;
}
.right {
  position: absolute;
  right: 32px;
  top: 300px;
  width: 50px;
  height: 40px;
}
